@font-face {
  font-family: "Droid Serif";
  src: url("../fonts/DroidSerif.woff2") format("woff2"),
    url("../fonts/DroidSerif.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Droid Serif", sans-serif;
  background-color: #fff;
}

.main-menu {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 15px;
  background-color: #111111;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
}

.main-menu .site-logo {
  width: 110px;
  cursor: pointer;
}

.main-menu .site-logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-menu .toggleBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s all;
  cursor: pointer;
}

.main-menu .toggleBtn span {
  font-family: "Cabin", sans-serif;
  color: #fff;
  text-transform: uppercase;
}

.main-menu .toggleBtn i {
  display: inline;
  font-size: 22px;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
  padding: 5px 12px;
}

.main-menu .toggleBtn:hover span {
  color: #05b0dc;
}

.main-menu .toggleBtn:hover .toggle-bars .bars {
  background-color: #05b0dc;
}

.toggle-bars {
  display: inline-block;
  margin-left: 10px;
}

.toggle-bars .bars {
  width: 30px;
  height: 4px;
  background-color: #fff;
  margin: 5px 0;
  transition: 0.4s;
}

.toggleBtn.active span {
  color: #05b0dc;
}

.toggleBtn.active .toggle-bars .bar1 {
  transform: rotate(-45deg) translate(-4px, 6px);
  background-color: #05b0dc;
}
.toggleBtn.active .toggle-bars .bar2 {
  opacity: 0;
}
.toggleBtn.active .toggle-bars .bar3 {
  transform: rotate(45deg) translate(-6px, -9px);
  background-color: #05b0dc;
}

.main-menu .menu-icons i {
  display: inline;
  font-size: 22px;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
  padding: 12px;
}

.main-menu .menu-icons i:hover {
  opacity: 0.7;
}

.container {
  width: 100vw;
  height: 100vh;
  padding-top: 62px;
  display: flex;
  overflow: hidden;
}

.nav-menu {
  white-space: nowrap;
  background-color: #151515;
  width: 0;
  transition: width 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  background: rgb(0 0 0 / 77%);
  z-index: 4;
  transition: 0.3s ease-in-out;
}

.overlay.active {
  opacity: 1;
  visibility: visible;
}

.nav-menu.active {
  width: 330px;
  z-index: 4;
}

.nav-menu .menu-list {
  list-style-type: none;
}

.nav-menu .menu-list li {
  padding: 5px 0;
}

.nav-menu .menu-list li a {
  font-family: "Cabin", sans-serif;
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s all;
}

.nav-menu .menu-list li.active a {
  color: #0ab6d1;
}

.nav-menu .menu-list li a:hover {
  color: #0ab6d1;
}

.content-body {
  position: relative;
  overflow: hidden;
  background-image: url(../img/old-honda.jpg);
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  transition: background-image 0.3s ease-in-out;
}

.wrapper {
  height: 100%;
  display: flex;
}

.wrapper .box {
  position: relative;
  overflow: hidden;
  width: 33.33%;
  padding-inline: 20px;
  padding-top: 20px;
  padding-bottom: 100px;
  height: 100%;
  display: flex;
  align-items: flex-end;
  cursor: pointer;
}

.wrapper .box:not(:last-child) {
  border-right: 1px solid #ffffff4d;
}

.wrapper .box .box-content {
  position: relative;
  transition: 0.3s all;
}

.wrapper .box .box-content h2 {
  font-family: "Cabin", sans-serif;
  color: #fff;
  text-transform: uppercase;
  transform: translateY(50px);
  margin-bottom: 6px;
  transition: 0.3s all;
}

.wrapper .box .box-content p {
  font-family: "Droid Serif", sans-serif;
  color: #fff;
  transform: translateY(50px);
  text-transform: capitalize;
  margin-bottom: 15px;
  transition: 0.3s all;
}

.wrapper .box .box-content .CTA-btn {
  font-family: "Cabin", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 20px;
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
  outline: none;
  transform: translateX(-60px);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s all;
  cursor: pointer;
}

.wrapper .box .box-content .CTA-btn:hover {
  background-color: #fff;
  color: #000;
}

.wrapper .box:hover .box-content h2,
.wrapper .box:hover .box-content p {
  transform: translateY(0);
}

.wrapper .box:hover .box-content .CTA-btn {
  transform: translateX(0);
  display: block;
  opacity: 1;
  visibility: visible;
}

.wrapper .box .boxbg-Img {
  display: none;
}

/* slick slider */
.content-body .slick-track {
  height: 100%;
}

.indicators {
  position: absolute;
  display: flex;
  top: 45%;
  transform: tranlateY(-50%);
  width: 100%;
  z-index: 2;
}

.indicators .next-Btn,
.indicators .prev-Btn {
  position: absolute;
  cursor: pointer;
}

.indicators i {
  font-size: 36px;
  color: #fff;
}

.indicators .prev-Btn {
  left: 10px;
}
.indicators .next-Btn {
  right: 10px;
}

#myVideo {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  inset: 0;
  min-width: 100%;
  min-height: 100%;
  transition: 0.3s ease-in-out;
}

@media (max-width: 767px) {
  .container {
    height: 100vh;
    width: 100%;
  }

  .nav-menu,
  .overlay {
    position: fixed;
    height: 100%;
  }

  .nav-menu.active {
    width: 50%;
  }

  .menu-icons {
    display: none;
  }

  .content-body {
    background-size: cover;
  }

  .wrapper .box .boxbg-Img {
    display: block;
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
  }

  .wrapper .boxbg-Img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media (max-width: 575px) {
  .nav-menu.active {
    width: 65%;
  }

  .toggleBtn span {
    display: none;
  }

  .container {
    height: 100%;
  }

  .content-body {
    height: 100%;
  }

  .indicators {
    display: none;
  }

  .wrapper {
    flex-direction: column;
  }

  .wrapper .box {
    min-height: 272px;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 15px;
    justify-content: center;
  }

  .wrapper .box .box-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
